body * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  padding: 3vh;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  width: 250px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

main {
  margin: 3vh;
}

@media only screen and (max-width: 1000px) {
  /* Media queries go here */
}

@media only screen and (max-width: 600px) {
  /* Media queries go here */
}

section {
  box-sizing: border-box;
  width: 300px;
  height: 100%;
  margin: 10px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: lightgray;
}

h2 {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  margin: 0px;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}

p {
  padding: 15px;
  margin: 0px;
}

button {
  margin: 10px;
}
